/*

    960 Grid System ~ Core CSS.

    Learn more ~ http://960.gs/



    Licensed under GPL and MIT.

*/



/* =Containers

--------------------------------------------------------------------------------*/



.container12,

.container16

{

    width: 92%;

    margin-left: 4%;

    margin-right: 4%;

}



/* =Grid >> Global

--------------------------------------------------------------------------------*/



.grid1,

.grid2,

.grid3,

.grid4,

.grid5,

.grid6,

.grid7,

.grid8,

.grid9,

.grid10,

.grid11,

.grid12,

.grid13,

.grid14,

.grid15,

.grid16

{

    display: inline;

    float: left;

    margin-left: 1%;

    margin-right: 1%;

}



.container12 .grid3,

.container16 .grid4

{

    width: 23%;

}



.container12 .grid6,

.container16 .grid8

{

    width: 48%;

}



.container12 .grid9,

.container16 .grid12

{

    width: 73%;

}



.container12 .grid12,

.container16 .grid16

{

    width: 98%;

}



/* =Grid >> Children (Alpha ~ First, Omega ~ Last)

--------------------------------------------------------------------------------*/



.alpha

{

    margin-left: 0;

}



.omega

{

    margin-right: 0;

}



/* =Grid >> 12 Columns

--------------------------------------------------------------------------------*/



.container12 .grid1

{

    width: 6.333%;

}



.container12 .grid2

{

    width: 14.666%;

}



.container12 .grid4

{

    width: 31.333%;

}



.container12 .grid5

{

    width: 39.666%;

}



.container12 .grid7

{

    width: 56.333%;

}



.container12 .grid8

{

    width: 64.666%;

}



.container12 .grid10

{

    width: 81.333%;

}



.container12 .grid11

{

    width: 89.666%;

}



/* =Grid >> 16 Columns

--------------------------------------------------------------------------------*/



.container16 .grid1

{

    width: 4.25%;

}



.container16 .grid2

{

    width: 10.5%;

}



.container16 .grid3

{

    width: 16.75%;

}



.container16 .grid5

{

    width: 29.25%;

}



.container16 .grid6

{

    width: 35.5%;

}



.container16 .grid7

{

    width: 41.75%;

}



.container16 .grid9

{

    width: 54.25%;

}



.container16 .grid10

{

    width: 60.5%;

}



.container16 .grid11

{

    width: 66.75%;

}



.container16 .grid13

{

    width: 79.25%;

}



.container16 .grid14

{

    width: 85.5%;

}



.container16 .grid15

{

    width: 91.75%;

}



/* =Prefix Extra Space >> Global

--------------------------------------------------------------------------------*/



.container12 .prefix3,

.container16 .prefix4

{

    padding-left: 25%;

}



.container12 .prefix6,

.container16 .prefix8

{

    padding-left: 50%;

}



.container12 .prefix9,

.container16 .prefix12

{

    padding-left: 75%;

}



/* =Prefix Extra Space >> 12 Columns

--------------------------------------------------------------------------------*/



.container12 .prefix1

{

    padding-left: 8.333%;

}



.container12 .prefix2

{

    padding-left: 16.666%;

}



.container12 .prefix4

{

    padding-left: 33.333%;

}



.container12 .prefix5

{

    padding-left: 41.666%;

}



.container12 .prefix7

{

    padding-left: 58.333%;

}



.container12 .prefix8

{

    padding-left: 66.666%;

}



.container12 .prefix10

{

    padding-left: 83.333%;

}



.container12 .prefix11

{

    padding-left: 91.666%;

}



/* =Prefix Extra Space >> 16 Columns

--------------------------------------------------------------------------------*/



.container16 .prefix1

{

    padding-left: 6.25%;

}



.container16 .prefix2

{

    padding-left: 12.5%;

}



.container16 .prefix3

{

    padding-left: 18.75%;

}



.container16 .prefix5

{

    padding-left: 31.25%;

}



.container16 .prefix6

{

    padding-left: 37.5%;

}



.container16 .prefix7

{

    padding-left: 43.75%;

}



.container16 .prefix9

{

    padding-left: 56.25%;

}



.container16 .prefix10

{

    padding-left: 62.5%;

}



.container16 .prefix11

{

    padding-left: 68.75%;

}



.container16 .prefix13

{

    padding-left: 81.25%;

}



.container16 .prefix14

{

    padding-left: 87.5%;

}



.container16 .prefix15

{

    padding-left: 93.75%;

}



/* =Suffix Extra Space >> Global

--------------------------------------------------------------------------------*/



.container12 .suffix3,

.container16 .suffix4

{

    padding-right: 25%;

}



.container12 .suffix6,

.container16 .suffix8

{

    padding-right: 50%;

}



.container12 .suffix9,

.container16 .suffix12

{

    padding-right: 75%;

}



/* =Suffix Extra Space >> 12 Columns

--------------------------------------------------------------------------------*/



.container12 .suffix1

{

    padding-right: 8.333%;

}



.container12 .suffix2

{

    padding-right: 16.666%;

}



.container12 .suffix4

{

    padding-right: 33.333%;

}



.container12 .suffix5

{

    padding-right: 41.666%;

}



.container12 .suffix7

{

    padding-right: 58.333%;

}



.container12 .suffix8

{

    padding-right: 66.666%;

}



.container12 .suffix10

{

    padding-right: 83.333%;

}



.container12 .suffix11

{

    padding-right: 91.666%;

}



/* =Suffix Extra Space >> 16 Columns

--------------------------------------------------------------------------------*/



.container16 .suffix1

{

    padding-right: 6.25%;

}



.container16 .suffix2

{

    padding-right: 16.5%;

}



.container16 .suffix3

{

    padding-right: 18.75%;

}



.container16 .suffix5

{

    padding-right: 31.25%;

}



.container16 .suffix6

{

    padding-right: 37.5%;

}



.container16 .suffix7

{

    padding-right: 43.75%;

}



.container16 .suffix9

{

    padding-right: 56.25%;

}



.container16 .suffix10

{

    padding-right: 62.5%;

}



.container16 .suffix11

{

    padding-right: 68.75%;

}



.container16 .suffix13

{

    padding-right: 81.25%;

}



.container16 .suffix14

{

    padding-right: 87.5%;

}



.container16 .suffix15

{

    padding-right: 93.75%;

}



/* =Clear Floated Elements

--------------------------------------------------------------------------------*/



/* http://sonspring.com/journal/clearing-floats */



html body * span.clear,

html body * div.clear,

html body * li.clear,

html body * dd.clear

{

    background: none;

    border: 0;

    clear: both;

    display: block;

    float: none;

    font-size: 0;

    list-style: none;

    margin: 0;

    padding: 0;

    overflow: hidden;

    visibility: hidden;

    width: 0;

    height: 0;

}



/* http://www.positioniseverything.net/easyclearing.html */



.clearfix:after

{

    clear: both;

    content: '.';

    display: block;

    visibility: hidden;

    height: 0;

}



.clearfix

{

    display: inline-block;

}



* html .clearfix

{

    height: 1%;

}



.clearfix

{

    display: block;

}