@charset "utf-8";
/* CSS Document */
body{
	font-family:Arial, Helvetica, sans-serif;
        font-size:11px;
        background-color: #777;
        margin: 0px;
        margin-top: 60px;
    }
.pagina{
    margin: 0 auto;
    width:800px;
    margin-bottom: 1cm;
    background: #FFF;
    padding:10px;
    padding-top: 0px;
    min-height: 969px;
    /* -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
    -webkit-box-shadow:rgba(0,0,0,0.3) 0 1px 3px;
    box-shadow:rgba(0,0,0,0.3) 0 1px 3px;        */
    -webkit-box-shadow: 2px 5px 5px rgba(0,0,0,.7);
    -moz-box-shadow: 2px 5px 5px rgba(0,0,0,.7);
    box-shadow: 2px 5px 5px rgba(0,0,0,.7);
}
.hoja{
    /*-moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
    -webkit-box-shadow:rgba(0,0,0,0.3) 0 1px 3px;
    box-shadow:rgba(0,0,0,0.3) 0 1px 3px;*/
    -webkit-box-shadow: 2px 5px 5px rgba(0,0,0,.7);
    -moz-box-shadow: 2px 5px 5px rgba(0,0,0,.7);
    box-shadow: 2px 5px 5px rgba(0,0,0,.7);
    padding: 10px;
}
#imprimir{
    position: fixed;
    top:0px;
    margin: 0px;
    width: 100%;
    margin: 0 auto;
    background: #4d4d4d;
    color:#999;
    padding:2px;
     -moz-box-shadow: rgba(0,0,0,0.3) 0 1px 3px;
    -webkit-box-shadow:rgba(0,0,0,0.3) 0 1px 3px;
    box-shadow:rgba(0,0,0,0.3) 0 1px 3px;
    z-index: 9999;
    border-bottom: 1px solid #000;
}
#imprimir div{
    margin:0 auto; width:800px;
    text-align: right;
}
#imprimir a{
    display: inline-block;
    padding: 5px;
    font-size: 12px;
    text-decoration: none;
    vertical-align: bottom;
    color:#FFF;        
}
#imprimir span.logo a{
    padding: 0px;
}
#imprimir a:hover{
    color:  #00CC00;
}
#imprimir span.logo{
    float:left;
}
div.anulado{
    text-align: left;
    font-size: 80px;
    color: #900;
}