@charset "utf-8";
/* CSS Document */
html{
    width: 100%;
    height: 100%;
}
body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:small;
	color:#2d2d2d;
        margin: 0px;
        padding: 0px;
        width: 100%;
        height: 100%;
}
h1,h2,h3,ul,li,table,div,fieldset,ul,p{
	margin:0;
	padding:0;
}
ul{
	list-style:none;
}
h1{
	letter-spacing:-0.07em;
	color:#226C2D;
	padding:10px 0px;
	text-shadow: 0 0px 2px rgba(0,204,255,.3);
}
h2{
	font-style:italic;
	letter-spacing:-0.07em;
	color:#74AB5A;
	text-shadow: 0 0px 2px rgba(102,255,102,.3);
}
a{
	text-decoration:none;
}
#contenedor{
    background: #FFF;
    margin: 0px;
}
#encabezado{
	height:90px;
}
#ingreso{
    position: relative;
    margin-left:443px;
    width:517px;
    height:378px;
    background: url(../img/ingreso.png) transparent no-repeat;
}
#ingreso input[type=text], #ingreso input[type=password]{
    width:330px;
    height:35px;
    margin:0px;
    padding:0px;
    padding-top: 6px;
    padding-left: 10px;
    outline: none;
    font-size: 22px;
    color:#4d4d4d;
    background: url(../img/ingreso_input.png) top left transparent no-repeat;
    border:0px;
}
#ingreso input[type=submit]{
    display: block;
    margin:0px;
    padding:0px;
    position:relative;
    top:150px;
    left:80px;
    border: none;
    text-indent: -9999px;
    cursor: pointer;
    background: url(../img/ingreso_submit.png) top left transparent no-repeat;
    width:137px;
    height:48px;
}
#ingreso input[type=text].error,#ingreso input[type=password].error{
    background-position: 0px -82px;
}
#ingreso input[type=text].error:focus,#ingreso input[type=password].error:focus{
    color: #990000;
    background-position: 0px -82px;
}
#ingreso input[type=submit]:hover{
    background-position: 0px -48px;
}
#ingreso .usuario{
    position: relative;
    top:105px;
    left:85px;
}
#ingreso .clave{
    position: relative;
    top:135px;
    left:85px;
}
#ingreso .label_usuario{
    position:absolute;
    font-style: italic;
    top:114px;
    left:94px;
    font-weight: normal;
    color:#AAA;
    font-size:20px;
    outline: none;
    cursor:text;
}
#ingreso .label_clave{
    position:absolute;
    font-style: italic;
    top:144px;
    left:94px;
    font-weight: normal;
    color:#AAA;
    font-size:20px;
    outline: none;
}
#ingreso input[type=text]:focus, #ingreso input[type=password]:focus{
    color:#FFF;
    text-shadow:#4d4d4d 1px 1px 1px;
    font-weight: bold;
    background-position: 0px -41px;
}
#contenido{
    background: #FFF;
    position:relative;
    margin: 0 auto;
    width:960px;     
}
#contenido .logo_empresa{
    position:absolute;
    top:120px;
    left:10px;
}
#mensajes{
	position:fixed;
	top:10px;
        right:10px;
	padding:20px 0px;
	display: none;
	z-index:9999;
	width:400px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	
	border:1px solid #930;
	color:#930;
	background:#FFCC00;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFF99), to(#FFCC00));
	background:-moz-linear-gradient(center top , #FFFF99, #FFCC00) repeat scroll 0 0 transparent;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFF99', endColorstr='#FFCC00');
}
#mensajes.alerta span.icono{
	background:url(../img/loading_bar.gif)no-repeat;
	width:28px;
	height:8px;
        border:1px solid #D94D09;
	display:inline-block;
}
#mensajes.error{
	background:#C30;
	color:#FFF;
	border-color:#900;
}
#mensajes.correcto{
	background:#D9EFAF;
	color:#060;
        border:1px solid #060;
	font-style:italic;
}
#mensajes.error span.icono{
	vertical-align:baseline;
	background:url(../img/error.png) transparent no-repeat;
	width:12px;
	display:inline-block;
	height:12px;
}
span.cargando{
    background: url(../img/loading_bar.gif) top left no-repeat;
    display: inline-block;
    width:28px;
    height: 8px;
}
#pie{
    height: 100%;
}