@charset "utf-8";
/* CSS Document */
body{
	font-family:Arial, Helvetica, sans-serif;
	font-size:small;
	background:#DDD;
        color:#2d2d2d;
        margin: 0px;
        padding: 0px;        
}
#encabezado{
    background: url('../img/encabezado_fondo.jpg') repeat-x bottom center;
    background: url(../img/piefondo.png) repeat-x 0 0, 
        url(../img/encabezado_fondo.jpg) repeat-x 0 100%;
    background-color: #FFF;    
}
#contenido{
    background: #FFF url('../img/piefondo.png') repeat-x;        
}
h1,h2,h3,ul,li,table,div,fieldset,ul,p{
	margin:0;
	padding:0;
}
ul{
	list-style:none;
}
h1{
	letter-spacing:-0.07em;
	color:#226C2D;
	padding:10px 0px;	
}
h2{
    color: #4d4d4d;
    padding: 10px 0px;
    text-shadow:1px 1px 1px #CCC;
	
}
a{
	text-decoration:none;
}
#acceso{
    position:relative;
    background: #4D4D4D;    
}
#menu{
    list-style:none;
}
#menu li{
    display: inline-block;
    margin:0px;
    border-right: 1px solid #444;
    float:left;
}
#menu a{
    cursor:pointer;
    color:#FFF;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    padding:5px 10px;
    display:inline-block;
    line-height: 25px;
    background: #4D4D4D;
}
#menu a:hover{
    color:#4D4D4D;
    background:#fbed20;
    
}
#menu a.tablero{
    background: transparent;
    padding: 2px 10px 2px 0px;
    border: none;
    vertical-align: middle;
    height: 100%;
}
#menu li.seleccionado a{
    color:#FFF;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    padding:5px 10px;
    display:block;
    background:#39b549;
}
#menu a.tablero:hover{
    background:#39b549;
    
}
#cuadro_detalle_menu{
    background: #000;
    text-shadow: 0 1px 1px rgba(0,0,0,.3);
    color:#FFF;
    padding:10px;
    position:absolute;
    top:45px;
}
#cuadro_detalle_menu .flecha{
    position:absolute;
    top:-10px;
    background: url(../img/flecha.png);
    width:20px;
    height: 11px;
}
#usuario-actual{
	padding:0px 0px;
	float:right;
	list-style:none;
}
#usuario-actual li{
    display: inline-block;
    padding:2px 2px;
    float:left;    
}
#usuario-actual a.usuario{
    display:inline-block;
    padding:5px 10px;
    outline: none;
    cursor: pointer;
    color:#FFF;
    vertical-align: middle;
    text-shadow:#4D4D4D 1px 1px 1px;
}
#usuario-actual a.usuario:hover{
	color:#FF3300;
}
#encabezado{
    position: relative;
    padding: 10px 0px;
    min-height: 58px;    
}
#encabezado .logo_sipe{
    background: url(../img/logo_sipe.png) no-repeat;
    display:inline-block;
    width:140px;
    height: 58px;
}
span.alerta{
	background:url(../img/alerta.png) transparent no-repeat;
	width:12px;
	vertical-align:middle;
	margin-right:5px;
	display:inline-block;
	height:12px;
}
#contenido{
    min-height: 500px;
    padding-bottom: 20px;
}
#contenido.container16{
    min-width:978px;;
}
input[type=text],.form input[type=password],.form textarea,.form select{
	background:#FFFFFF url(../img/form_fondo.gif) top repeat-x;
	color:#333333;
	font-family:"Lucida Grande",Tahoma,Arial,sans-serif;
	font-size:100%;
	margin:0;
	padding:5px 2px;
        margin-right: 2px;
	border-color:#7C7C7C #C3C3C3 #DDDDDD;
	border-style:solid;
	border-width:1px;	
	-webkit-border-radius: .2em;
	-moz-border-radius: .2em;
	border-radius: .2em;
}
input[type=submit], a.boton{
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	padding: 6px 10px;
	/*text-shadow: 0 1px 1px rgba(0,0,0,.3);*/
	-webkit-border-radius: .2em;
	-moz-border-radius: .2em;
	border-radius: .2em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	
	border:1px solid #195120;
	color:#F2FAF1;	
	background: #226C2D;
/*	background: -webkit-gradient(linear, left top, left bottom, from(#226C2D), to(#74AB5A));
	background:-moz-linear-gradient(center top , #226C2D, #74AB5A) repeat scroll 0 0 transparent;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#226C2D', endColorstr='#74AB5A');	*/
}
.pedido_copiado{
    display: inline-block;
    margin-top: 5px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	padding: 2px 8px;
	-webkit-border-radius: .2em;
	-moz-border-radius: .2em;
	border-radius: .2em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	font-size: 9px;
	border:1px solid #D94D09;
	color: #900;	
	background: #FFBC9B;
}
.pedido_importado{
    display: inline-block;
    margin-top: 5px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	padding: 2px 8px;
	-webkit-border-radius: .2em;
	-moz-border-radius: .2em;
	border-radius: .2em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	font-size: 9px;
	border:1px solid #173C18;
	color: #173C18;	
	background: #00cc00;
}
input[type=submit]:hover, a.boton:hover{
	background: #74AB5A;
/*	background: -webkit-gradient(linear, left top, left bottom, from(#74AB5A), to(#226C2D));
	background:-moz-linear-gradient(center top , #74AB5A, #226C2D) repeat scroll 0 0 transparent;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#74AB5A', endColorstr='#226C2D');	*/
}
a.boton:active{
	background:#F30;
/*	background: -webkit-gradient(linear, left top, left bottom, from(#009118), to(#74AB5A));
	background:-moz-linear-gradient(center top , #009118, #74AB5A) repeat scroll 0 0 transparent;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#009118', endColorstr='#74AB5A');	*/
}
a.boton_gris{
	vertical-align:bottom;
	display: inline-block;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	padding: 2px 2px;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .2em;
	-moz-border-radius: .2em;
	border-radius: .2em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	
	border:1px solid #B7B7B7;
	color:#606060;	
	background: #FFFFFF;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#EDEDED));
	background:-moz-linear-gradient(center top , #FFFFFF, #EDEDED) repeat scroll 0 0 transparent;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EDEDED');	
}
a.boton_gris:hover{
	background: #EDEDED;
	background: -webkit-gradient(linear, left top, left bottom, from(#EDEDED), to(#DCDCDC));
	background:-moz-linear-gradient(center top , #EDEDED, #DCDCDC) repeat scroll 0 0 transparent;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#EDEDED', endColorstr='#DCDCDC');	
}
a.boton_gris:active{
	background:#FF9;
}
span.iconos_azules{
	background:url(../img/images/ui-icons_8dc262_256x240.png);
	width:16px;
	height:16px;
	display:inline-block;
	vertical-align:bottom;
}
span.iconos_blancos{
	background:url(../img/images/ui-icons_ffffff_256x240.png);
	width:16px;
	height:16px;
	display:inline-block;
	vertical-align:bottom;
}
span.eliminar{
	background-position:-32px -192px;
}
span.buscar{
	background-position:-160px -112px;
}
span.mas{
	background-position:0px -192px;
}
span.copiar{
	background-position:-176px -128px;
}
.form label,#dialog-form label{
	margin-bottom:5px;
	color:#226C2D;
	display:block;
}
.form div.checkbox,.form div.radio{
	display:block;
}
table.tabla{
    	border-collapse:collapse;
	position:relative;
	color:#555;
	width:100%;
	border:1px solid #B7B7B7;
}
table.tabla th{
    height: 25px;
}
table.tabla th,table.tabla td.item{
	text-align:center;
	font-weight:normal;
	margin:0px;
	padding:0px;
	color:#606060;	
	background: #EDEDED;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#EDEDED));
	background:-moz-linear-gradient(center top , #FFFFFF, #EDEDED) repeat scroll 0 0 transparent;
}
table.tabla th a{
	text-decoration:none;
	outline:none;
	padding:5px 0px;
	margin:0px;
	width:100%;	
	color:#606060;	
        display:inline-block;
	background: #EDEDED;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#EDEDED));
	background: -moz-linear-gradient(center top , #FFFFFF, #EDEDED) repeat scroll 0 0 transparent;
}
table.tabla td, table.tabla td.item{
	border-left:1px solid #E4E4E4;
	border-right:1px solid #E4E4E4;
	padding:8px 4px 8px 5px;
}
#recibos table.tabla td, #recibos table.tabla td.item{
    border-left:1px solid #B7B7B7;
    border-right:1px solid #B7B7B7;
}
table.tabla th, table.tabla td.numero{
	border:1px solid #B7B7B7;
}
table.tabla tr.altrow, table.tabla tr:nth-child(2n+2){
	background:#F3F3F3;
}
table.tabla tr.agregar{
	background:#FFC;
}
.css_right{
	float:right;
}
table.tabla th span.iconos{
	margin:0px;
	margin-right:2px;
	padding:0px;
	background:url(../img/images/ui-icons_ffffff_256x240.png) no-repeat;
	width:16px;
	height:16px;
	display:block;
}
table.tabla th span.iconoordenar{	
	background:url(../img/images/ui-icons_847e71_256x240.png) no-repeat;
	background-position:-127px 2px;
}
table.tabla th span.iconoasc{
	background-position:2px -14px;
}
table.tabla th span.iconodesc{
	background-position:-63px -14px;
}
table.tabla th a:hover,table.tabla th a:active{
	background: #FFFFFF;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#DCDCDC));
	background:-moz-linear-gradient(center top , #FFFFFF, #DCDCDC) repeat scroll 0 0 transparent;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#DCDCDC');	
}
table.tabla th a.seleccionado{
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	color:#FFF;
	
	border:none;
	background: #FF3300;
	background: -webkit-gradient(linear, left top, left bottom, from(#FF3300), to(#D94D09));
	background:-moz-linear-gradient(center top , #FF3300, #D94D09) repeat scroll 0 0 transparent;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF3300', endColorstr='#D94D09');	
}
table.tabla th a.seleccionado:hover{
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	color:#FFF;
	border:none;
	background: #226C2D;
	background: -webkit-gradient(linear, left top, left bottom, from(#226C2D), to(#173C18));
	background:-moz-linear-gradient(center top , #226C2D, #173C18) repeat scroll 0 0 transparent;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#226C2D', endColorstr='#173C18');	
}
table.tabla tr.anulado{
    background: #f7efe9;
    color: #c99873;
}
#documentos_recibo *{
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
#documentos_recibo td{
	position: relative;
}
#documentos_recibo td .input_valor{
	width: 100%;
	padding-left: 20px;
}
#documentos_recibo td .signo{
	color: red;
	position: absolute;
	top: 14px;
	left: 9px;
}
span#iconoAlerta{
	background:url(../img/alerta.png) transparent no-repeat;
	width:12px;
	display:inline-block;
	height:12px;
}
h3{
	color:#036;
	font-size:1.2em;
	font-weight:normal;
}
.form fieldset{
	position:relative;
	padding:20px 10px 10px 10px;
	margin-bottom:20px;
	color:#003466;
	border:1px solid #E4E4E4;
	background:#FFF;
}
.form legend{
	padding:5px;
	outline: none;
	cursor: default;
	text-align: left;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	padding: 4px 8px;
	text-shadow: 0 0px 2px rgba(0,0,0,.5);
	font-weight:bold;
	
	color:#FFF;	
/*	background: #00ADEE;
	background: -webkit-gradient(linear, left top, left bottom, from(#00ADEE), to(#0078A5));
	background:-moz-linear-gradient(center top , #00ADEE, #0078A5) repeat scroll 0 0 transparent;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ADEE', endColorstr='#0078A5');	*/
}
div.paginacion{
	text-align:center;
	margin-top:10px;
	margin-bottom:10px;
}
div.paginacion:after{
	clear:both;
}
div.paginacion strong{
	padding:2px 5px;
	color:#FFF;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	background:#FFF url(../img/fondoTabla.jpg) repeat-x;
	-moz-border-radius:4px;
	 border-radius: 4px;
	-webkit-border-radius: 5px;
   -moz-box-shadow: 0px 0px 5px #888;
   -webkit-box-shadow: 0px 0px 5px #888;
    cursor:default;	
	border:1px solid #195120;
	color:#F2FAF1;	
	background: #226C2D;
	background: -webkit-gradient(linear, left top, left bottom, from(#226C2D), to(#74AB5A));
	background:-moz-linear-gradient(center top , #226C2D, #74AB5A) repeat scroll 0 0 transparent;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#226C2D', endColorstr='#74AB5A');	
}
div.paginacion a{
	padding:2px 5px;
	border:1px solid #CCC;
	-moz-border-radius:4px;
	 border-radius: 4px;
	-webkit-border-radius: 4px;
	
	border:1px solid #B7B7B7;
	color:#226C2D;	
	background: #FFFFFF;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), to(#EDEDED));
	background:-moz-linear-gradient(center top , #FFFFFF, #EDEDED) repeat scroll 0 0 transparent;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#EDEDED');	
   /*-moz-box-shadow: 0px 0px 2px #888;
   -webkit-box-shadow: 0px 0px 2px #888;*/
}
div.paginacion a:hover{
	border:1px solid #195120;
	color:#F2FAF1;	
	background: #226C2D;
	background: -webkit-gradient(linear, left top, left bottom, from(#226C2D), to(#74AB5A));
	background:-moz-linear-gradient(center top , #226C2D, #74AB5A) repeat scroll 0 0 transparent;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#226C2D', endColorstr='#74AB5A');	
}
table div.descuento{
	color:#F00;
}

a.boton_cerrar{
	border:1px solid #2D2D2D;
	color:#FADDDE;	
	background: #980C10;
	background: -webkit-gradient(linear, left top, left bottom, from(#ED1C24), to(#AA1317));
	background:-moz-linear-gradient(center top , #ED1C24, #AA1317) repeat scroll 0 0 transparent;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ED1C24', endColorstr='#AA1317');	
}
a.boton_cerrar:hover{
	background: #AA1317;
	background: -webkit-gradient(linear, left top, left bottom, from(#AA1317), to(#ED1C24));
	background:-moz-linear-gradient(center top , #AA1317, #ED1C24) repeat scroll 0 0 transparent;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#AA1317', endColorstr='#ED1C24');	
	color:#DE898C;
}
#mensajes{
	position:fixed;
	top:10px;
        right:10px;
	padding:20px 0px;
	display: none;
	z-index:9999;
	width:400px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	
	border:1px solid #930;
	color:#930;
	background:#FFCC00;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFFF99), to(#FFCC00));
	background:-moz-linear-gradient(center top , #FFFF99, #FFCC00) repeat scroll 0 0 transparent;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFF99', endColorstr='#FFCC00');
}
#mensajes.alerta span.icono{
	background:url(../img/loading_bar.gif)no-repeat;
	width:28px;
	height:8px;
        border:1px solid #D94D09;
	display:inline-block;
}
#mensajes.error{
	background:#C30;
	color:#FFF;
	border-color:#900;
}
#mensajes.correcto{
	background:#D9EFAF;
	color:#060;
        border:1px solid #060;
	font-style:italic;
}
#mensajes.error span.icono{
	vertical-align:baseline;
	background:url(../img/error.png) transparent no-repeat;
	width:12px;
	display:inline-block;
	height:12px;
}
span.cargando{
	background:url(../img/loading_bar.gif)no-repeat;
	width:28px;
	height:8px;
	display:inline-block;
}
.highlight{
	background:#FF3;
	padding:2px;
}
.total_producto{
	text-align:right;
	padding-right:2px;
	color:#900;
	font-weight:bold;
}
.iconos_rojo{
	margin:0px;
	margin-right:2px;
	padding:0px;
	background:url(../img/images/ui-icons_cd0a0a_256x240.png) no-repeat;
	width:16px;
	height:16px;
	display:block;
}
.eliminar{
	background-position:-32px -192px;
}
table.tabla tfoot tr{
	background:#E4E4E4;
}
.resultados{
	padding:2px;
	color:#226C2D;
}
table.tabla tr.vencido{
	background:#FFCECE;
	color:#900;
	font-style:italic;
}
table.tabla tr.cancelado{
	background: #CCC;
	color:999;
	font-style:italic;
}
.iconos_azul{
	margin:0px;
	margin-right:2px;
	padding:0px;
	background:url(../img/images/ui-icons_217bc0_256x240.png) no-repeat;
	width:16px;
	height:16px;
	display:block;
}
.ver{
	background-position:-160px -112px;
}
.iconos_blanco{
	margin:0px;
	padding:0px;
	background:url(../img/images/ui-icons_ffffff_256x240.png) no-repeat;
	width:16px;
	height:16px;
	display:block;
}
.ver{
	background-position:-128px -112px;
}
.abrir{
	background-position:-16px -96px;
}
.editar{
	margin:0px;
	padding:0px;
	background:url(../img/editar.png) no-repeat;
	width:16px;
	height:16px;
	display:block;

}
.nits{
	background-position:-192px -128px;	
}
.enviar{
	background-position:-80px -96px;	
}
.imprimir{
	background-position:-160px -96px;	
}
.icono_eliminar{
	background-position:-128px -112px;
}
.pdf{
	margin:0px;
	padding:0px;
	background: url(../img/pdf_icono.gif) no-repeat;
	width:16px;
	height:16px;
	display:block;	
}
.xls{
	margin:0px;
	padding:0px;
	background: url(../img/xls_icono.gif) no-repeat;
	width:16px;
	height:16px;
	display:block;	
}
.print{
	margin:0px;
	padding:0px;
	background: url(../img/imprimir_icono.gif) no-repeat;
	width:16px;
	height:16px;
	display:block;	
}
.boton.peque{
	/*padding:2px;*/
	padding:2px;
	margin:0px;
}
#productos_pedido .existencia{
	margin:2px 0px 0px;
	cursor:pointer;
	text-align:left;
	color:  #226C2D;
}
#productos_pedido .existencia.agotada{
	margin:2px 0px 0px;
	cursor:pointer;
	text-align:left;
	color:  #C00;
}
#productos_pedido .ude{
	margin:2px 0px 0px;
	cursor:pointer;
	color: #060;
	text-align:center;
}
#productos_pedido .listas{
	margin:2px 0px 0px;
	cursor:default;
	color:#036;
}
#productos_pedido .listas ul{
	list-style:none;
	text-align:left;
}
#productos_pedido tbody td{
	vertical-align:top;
}

#pie{
    background: #DDD url('../img/piefondo.png') repeat-x;
    color:#333;
    padding:20px 5px;
}
#pie a{
	color:#29662B;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
}
#pie a:hover{
	color:#FF3300;
}
#banner_inicio{
	background:url(../img/banner_verde.jpg) no-repeat;
	width:600px;
	height:431px;
}
ul.formulario li{
	margin:0;
	padding:6px 1% 9px;	
   -moz-box-sizing:    border-box;
   -webkit-box-sizing: border-box;
    box-sizing:        border-box;
}
span.sub_label{
	font-size:0.9em;
	color:#999;
	display:block;
        border-top:1px solid #CCC;
        padding: 2px 0px;
        margin-top:4px;
            
}
#datos_cliente{
    border:1px solid #CCC;
    padding:2px;
}
#datos_cliente li{
    vertical-align: bottom;
}
span.error_label{
    color:#cc0000;
    font-style: italic;
    font-size:0.8em;
}
span.correcto_label{
    color:#00cc00;
    font-style: italic;
    font-size:0.8em;
}
.right{
	clear:none;
	float:right;
}
.left{
	float:left;
}
.seccion{
	margin:10px 0px;
	padding-bottom:10px;
	border-bottom:1px dotted #CCC;
}
.seccion h2{
	font-size:160%;
	font-weight:normal;
	margin:0 0 0.2em;	
}
li.cuadro{
	border:1px solid #E4E4E4;
}
li.noderecha{
	border-right:none;
}
li.noizquierda{
	border-left:none;
}
li.noarriba{
	border-top:none;
}
#autoguardado{
    margin-top: 5px;
}
#autoguardado.cargando{
	background:#FF9;
	color:#F00;
	font-style:italic;
	padding:4px;
}
#autoguardado.error{
	background:#C30;
	color:#FFF;
	border-color:#900;
}
#autoguardado.correcto, div.correcto{
	background:#D9EFAF;
	color:#060;
	font-style:italic;
	padding:4px;
}
input[type=text]:focus,.form input[type=password]:focus,.form textarea:focus{
	background-color:#FFC;
	-webkit-box-shadow: 0 0px 4px rgba(255,0,0,.6);
	-moz-box-shadow: 0 0px 4px rgba(0,153,204,.6);
	box-shadow: 0 0px 4px rgba(255,0,0,.6);
}
.form input[type=password].error,.form input[type=text].error,.form textarea.error,.form select.error{
	background-color:#FFF4F4;
	border-color:#C00;	
}
div.faltantes{
	font-weight:bold;
	color:#A2B3B9;
	float:right;
	font-size:1.4em;
	text-align:right;
}
#observaciones_predeterminadas{
	margin-bottom:10px;
}
#observaciones_predeterminadas li{
	margin-bottom:2px;
}
#observaciones_predeterminadas li a{
	outline:none;
	font-size:11px;
	background:#E4E4E4;
	color:#999;
	padding:4px;
	display:inline-block;	
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
}
#observaciones_predeterminadas li a:hover{
	background:#FFFFFF;
}
#observaciones_predeterminadas li a:active{
	background:#FF9;
}
div.referencia{
	color:#930;
	font-size:9px;
	margin-top:5px;
}
a.naranja{
	background: #FF3300;
	background: -webkit-gradient(linear, left top, left bottom, from(#FF3300), to(#D94D09));
	background:-moz-linear-gradient(center top , #FF3300, #D94D09) repeat scroll 0 0 transparent;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FF3300', endColorstr='#D94D09');	
}
a.naranja:hover{
	background: #FF3300;
	background: -webkit-gradient(linear, left top, left bottom, from(#D94D09), to(#FF3300));
	background:-moz-linear-gradient(center top , #D94D09, #FF3300) repeat scroll 0 0 transparent;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#D94D09', endColorstr='#FF3300');	
}
a.boton_rojo{
	color:#FADDDE;	
	background: #980C10;
	background: -webkit-gradient(linear, left top, left bottom, from(#ED1C24), to(#AA1317));
	background:-moz-linear-gradient(center top , #ED1C24, #AA1317) repeat scroll 0 0 transparent;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ED1C24', endColorstr='#AA1317');	
}
a.boton_rojo:hover{
	background: #AA1317;
	background: -webkit-gradient(linear, left top, left bottom, from(#AA1317), to(#ED1C24));
	background:-moz-linear-gradient(center top , #AA1317, #ED1C24) repeat scroll 0 0 transparent;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#AA1317', endColorstr='#ED1C24');	
	color:#DE898C;
}
#listado_productos{
	list-style:none;
}
#listado_productos div.referencia,#listado_productos div.tipo{
    color: #226C2D;
    font-size: 11px;
    padding: 2px 0px;
    margin: 0px;
}
#listado_productos div.existencia,#listado_productos div.unidad{
    font-size: 11px;
    padding: 2px 0px;
    color: #4D4D4D;
}
#listado_productos li.grid3{
	width:200px;
	display:inline-block;
        margin: 15px 0px;
        padding: 12px;
        padding-bottom: 50px;
        min-height: 240px;
        border-right: 1px dotted #CCC;
}
#listado_productos .codigo{
    color: #060;
    font-weight: bold;
    margin-top:4px;
    padding:5px 0px;
}
#listado_productos .nombre{
    color: #444;
    margin-top:4px;
    min-height: 40px;
}
#listado_productos .precio{
    color: #900;
    font-size: 14px;
    padding:10px 0px;
}
#listado_productos .agregar{
    position: absolute;
    bottom:0px;
    left:10px;
}
#listado_productos li img{
     -webkit-box-shadow:#BBB 0px 0px 3px;
    -moz-box-shadow:#BBB 0px 0px 3px;
    box-shadow:#BBB 0px 0px 3px;
}
span.error{
	color:#C00;
	font-style:italic;
}
#sub-menu-container{
    background: #EFEFEF;
}
#sub-menu{
	margin:0px;
	padding:0px;
	list-style:none;
}
#sub-menu b{
	color:#930;
}
#sub-menu li{
	margin:0px;
	padding:0px;
	float:left;
	border-left:1px solid #E4E4E4;
}
#sub-menu li a{
	display:block;
	padding:8px 10px;
        cursor:pointer;
	color:#4d4d4d;
	background:#EFEFEF;
}
#sub-menu li.seleccionado a{
	color:#FFF;
	background: #39b549;
}
#sub-menu li a:hover{
    color:#4D4D4D;
    background:#fbed20;
}
.left{
    float:left;
}
.right{
    float:right;
}
.clear_left{
    clear:left;
}
ul#formulario li{
    margin-right: 5px;
    margin-bottom: 10px;
}
a.boton_descargar_excel{
	display:block;
	background:url(../img/boton_descargar_excel.png) no-repeat;
	height:50px;
	width:254px;
}
a.boton_descargar_excel:hover{
	background-position:0px -50px;
}
ul.datos_usuario{
	margin-bottom:20px;
}
ul.datos_usuario li{
	font-size:1em;
	padding:5px;
	text-align:left;
}
ul.datos_usuario li.label{
	color:#360;
	font-weight:bold;
}
table.tabla tr.repetido{
	background:#FFBC9B;
}
table.tabla tr.repetido td{
	border-top:1px solid #FFA4A4;
}
#inactividad{
	position:fixed;
	top:-2px;
	padding:10px 0px;
	display: none;
	z-index:9999;
	width:960px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size:22px;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
	
	border:1px solid #930;
	color:#900;
	background:#FFCC00;
	background: -webkit-gradient(linear, left top, left bottom, from(#FFBC9B), to(#FFBC9B));
	background:-moz-linear-gradient(center top , #FFBC9B, #FFBC9B) repeat scroll 0 0 transparent;
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFBC9B', endColorstr='#FFBC9B');
}
label, input[type=radio]{
    cursor:pointer;
}
.ui-widget-overlay{
    background: #FFF;
    opacity:0.4;
}
.ui-dialog, #lightbox-container-image-box, #lightbox-container-image-data-box{
    border: 1px solid #AAA;
    background: #FFF;
    -webkit-box-shadow:#BBB 0px 0px 8px;
    -moz-box-shadow:#BBB 0px 0px 8px;
    box-shadow:#BBB 0px 0px 8px;
}
#lightbox-container-image-data-box{
    margin-top: -1px;
    padding-top: 10px;
}
.ui-corner-all{
    -moz-border-radius:0px;
    -webkit-border-radius:0px;
    border-radius:0px;
}
.ui-widget-header{
    /*background: #F5F3E5;*/
    background: none;
    border:none;
    font-size: 16px;
    text-shadow:#DDD 1px 1px 1px;
    border-bottom: 1px solid #E4E4E4;
}
.ui-dialog-buttonpane{
    background: none;
}
span.si_no{
    width:51px;
    display: inline-block;
    height:23px;
    background: url('../img/si_no.png') no-repeat;
}
a.si span.si_no{
    background-position: 0px -23px;
}
table#resultados_buscar_clientes tbody td{
    vertical-align: top;
    
}
.ui-datepicker,.ui-dialog{
        font-size:90%;
}
.ui-helper-clearfix button.ui-state-default{
        border:1px solid #900;
        color:#FADDDE;	
        background: #980C10;
        background: -webkit-gradient(linear, left top, left bottom, from(#ED1C24), to(#AA1317));
        background:-moz-linear-gradient(center top , #ED1C24, #AA1317) repeat scroll 0 0 transparent;
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ED1C24', endColorstr='#AA1317');	
}
.ui-helper-clearfix button.ui-state-default:hover{
        background: #AA1317;
        background: -webkit-gradient(linear, left top, left bottom, from(#AA1317), to(#ED1C24));
        background:-moz-linear-gradient(center top , #AA1317, #ED1C24) repeat scroll 0 0 transparent;
        filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#AA1317', endColorstr='#ED1C24');	
        color:#DE898C;
}
table.configuracion td{
    height:30px;
    border-bottom: 1px solid #e4e4e4;
}
table.configuracion td.opcion{
    text-align: right;
}
table.tabla_vendedor{
    width:100%;
    background: #ece8da;
    border:1px solid #DDDDDD;
    color:#173C18;
}
table.tabla_vendedor td{
    padding: 1px;
}
table.tabla_vendedor td.valores{
    background: #FFC;
}
.fc-event-skin{
    border:0;
    background:#FFF;
}
table.total_tabla_vendedor{
    font-size: 14px;
    width:100%; 
    color:#333; 
    text-align:right;
    background: #FADDDE;
    margin-top: 5px;
}
.total_tabla_vendedor td{
    padding: 2px 1px;
}
.fc-state-highlight{
    background:  #D9EFAF;
}
div.posfechado{
    display:none;
    margin-top: 2px;
}
table.tabla div.agotado{
    color:#900;
    font-style:italic;
}
table.tabla div.agotado span{
    display: block;
    color:#900;
    font-weight: bold;
}
div.anulado{
    font-size: 40px;
    position:absolute;
    left:50%;
    top:50%;
    color: #900;
}
.imagen  a,.imagen img{ max-width: 100%; display:block; }
#buscarProducto .codigo{ margin: 6px 0;}
#buscarProducto .producto{ margin-bottom: 20px;}
#buscarProducto .precio{ text-align: right;}